/*    GOOGLE FONTS:   ;*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

/*GOOGLE FONTS END*/



* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

html {
  font-size: 10px;
  /*font-family:"Helvetica", "Arial", sans-serif;*/
  font-family: 'Roboto', sans-serif;

}

body {
  padding-top: 50px;
}

.topNav {
  background: #000;
  /*remove height later on*/
  height:5rem;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
}

.landing {
  height:calc(100vh - 5rem);
  background-image:url("../images/food.jpeg");
  background-size:cover;
  background-repeat:no-repeat;
  color:white;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
}

@media (max-width:1000px){
  .landing {
    font-size: 3rem;
  }
}

@media (min-width:700px){
  .landing {
    background-image:url("../images/food-s.jpeg");
  }

  .row {
    display:flex;
  }

  .col-3 {
    width: 100%;
  }

  @media (max-width:700px){
    .row {
      display: block;
    }

    .col-3 {
      width: 100%;
    }
  }
}
